<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper_oracle.CalMapper">

	<insert id="makeCal">
		insert into tbl_cal(cal_no,id,cal_title, cal_stime, cal_etime,cal_content,cal_place, cal_schk,
		cal_sdchk,cal_sdate,cal_edate)
		values(seq_calno.nextval,#{id},#{cal_title},#{cal_stime},#{cal_etime},#{cal_content},#{cal_place},#{cal_schk},#{cal_sdchk},#{cal_sdate},#{cal_edate})
	</insert>

	<delete id="deleteCal">
		delete from tbl_cal where username = #{id}
	</delete>

	
	<select id="scheduleList" resultType="com.example.domain.CalVO">
      	select tbl_cal.*, tbl_gu.g_code from tbl_gu inner join tbl_cal on tbl_gu.id = tbl_cal.username
      	where g_code = #{g_code} and tbl_cal.schk = '1' and tbl_gu.gu_pwchk = 'Y'
   	</select>
   	
   	<select id="myscheduleList" resultType="com.example.domain.CalVO">
         select * from tbl_cal where username = #{id}
	</select>
   
   	<select id="calmygroup"  resultType = "com.example.domain.GuVO">
     	select * from tbl_gu where id = #{id} and g_code = #{g_code}
   	</select>
   	
   	<insert id = "scheduleinsert">
      	insert into tbl_cal(calno, username, "start", "end", title, "description", "type", backgroundColor, textColor, allDay, schk)  
      	values(seq_calno.nextval, #{username}, #{start}, #{end}, #{title}, #{description}, #{type}, #{backgroundColor}, #{textColor}, #{allDay}, #{schk})
   	</insert>
   
   	<update id = "scheduleupdate">
      	update tbl_cal set "start" = #{start}, "end" = #{end}, title = #{title}, 
      	"description" = #{description}, "type" = #{type}, backgroundColor = #{backgroundColor}, textColor = #{textColor}, allDay = #{allDay}, schk = #{schk} 
      	where calno = #{calno}
   	</update>
   
   	<update id = "dragupdate">
      	update tbl_cal set "start" = #{start}, "end" = #{end} where calno = #{calno}
   	</update>
   	
   	<delete id = "scheduledelete">
         delete from tbl_cal where calno = #{calno}
    </delete>
</mapper>