<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper_oracle.GuMapper">
	<insert id="addMember">
		insert into tbl_gu(g_code,id,gu_pwchk) values(#{g_code},#{id},#{gu_pwchk})
	</insert>
	<select id ="max" resultType = "int">
 		select max(g_code) from tbl_group <!-- 보완해야 할 점 : 동시에 그룹을 만들었을떄는 사용할수 없는 방법이다. 참고 : inner join tbl_gu on tbl_gu.g_code=tbl_group.g_code where id=#{id} -->
	</select>
	
	<select id = "countgu" resultType = "int">
      	select count(id) from tbl_gu where g_code = #{g_code}
   	</select>
   
   	<select id = "searchgcode" resultType = "int">
      	select max(g_code) from tbl_gu where id = #{id}
   	</select>
   
   	<delete id = "deleteMember">
      	delete from tbl_gu where id = #{id} and g_code = #{g_code}
   	</delete>
   
   	<select id = "countgroup" resultType = "int">
      	select count(g_code) from tbl_gu where id = #{id}
   	</select>
   	
   	<delete id = "deleteMemberG_code">
      	delete from tbl_gu where g_code = #{g_code}
   	</delete>
   	
   	<select id="getNotyetGrouplist" resultType = "com.example.domain.GuVO">
   		select * from tbl_gu inner join tbl_group on tbl_gu.g_code = tbl_group.g_code where id=#{id} and gu_pwchk='N'
   	</select>
</mapper>
